package partials

templ Header(title string) {
	<head>
		<title>{ title }</title>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"/>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=0.9"/>
		<script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
}
