package partials

templ Modal(parentId string, url string) {
	<dialog id="my_modal_1" class="modal">
		<div class="modal-box">
			<h3 class="font-bold text-lg">Do you wish to proceed ?</h3>
			<p class="py-4">All of your previous data will be earsed.</p>
			<div class="modal-action">
				<form method="dialog">
					<button hx-delete={ url } hx-target={ parentId } hx-swap="outerHTML" class="btn">Yes</button>
					<button class="btn">Cancel</button>
				</form>
			</div>
		</div>
	</dialog>
}
